.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.primary-pink-button-root-class-name {
  margin-left: var(--dl-space-space-unit);
}
.primary-pink-button-root-class-name1 {
  margin-left: var(--dl-space-space-unit);
}

@media(max-width: 991px) {
  .primary-pink-button-root-class-name2 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .primary-pink-button-root-class-name {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .primary-pink-button-root-class-name1 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .primary-pink-button-root-class-name2 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
}
